@using WebApplicationEmp.Controllers
@using WebApplicationEmp.Models

@model Employee

<h3>Selected Product Details</h3>

<div>

    Employee Id  :  @Model.Empid  <br/>
    Employee Name  :  @Model.Ename  <br/>
    Employee Job  :  @Model.Ejob<br/>
    Employee Salary  :  @Model.Esal<br/>
    Employee Dept no  :  @Model.Edeptno<br/>
    
</div>

<hr/>
 <a href="/Employee/Index">Back to List</a>
