@using WebApplicationEmp.Controllers
@using WebApplicationEmp.Models;

@model List<Employee>

<h3>Product Controller -- Index Page</h3>
<hr/>

@* 
    <h3> @ViewBag.Message </h3>  
*@

<a href="/Employee/Create">Create New</a>

<table border="2" width="600">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th></th>
    </tr>

    @foreach(Employee item in Model)
    {
         <tr>
            <td>@item.Empid</td>
            <td>@item.Ename</td>
            <td>@item.Ejob</td>
            <td>@item.Esal</td>     
            <td>@item.Edeptno</td>     
            <td>
                <a href="/Employee/Details/@item.Empid">View Details</a>|
                <a href="/Employee/Edit/@item.Empid">Edit</a> |
                <a href="/Employee/Delete/@item.Empid">Delete</a>  
            </td>
         </tr>
    }

   
</table>